* {
    margin:0px;
    padding:0px;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

main {
    display: flex;
    flex-direction: column;
}

#display-todos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}


.todo-data {
    margin: 10px;
    padding: 12.5px 25px;
}

#add, .remove-todo-btn {
    padding: 12.5px 50px;
    font-size: 25px;
    background-color:lime;
    color: black;
    font-weight: 700;
    border:none;
    border-radius: 10px;
}

.display-todo-info {
    display: flex;
    /* justify-content: space-around; */
    align-content: center;
}

.display-todo-info div, .display-todo-info button {
    align-self: center;
    vertical-align:middle;
    font-size: 25px;
    margin: 20px;
}

.remove-todo-btn {
    background-color: red;
}
